:root{
    --bg-green:rgba(202, 255, 51, 1);
    --bg-dark:rgba(28, 28, 28, 1);
    --bg38-dark:rgba(38, 38, 38, 1)
    
}
.body{
    background-color: #191919;
}
.text-color{
    color:rgba(202, 255, 51, 1); 
}

.log-btn{
    background-color: var(--bg-green);
    width: 109px;
    height: 55px;
}

.nav-ul-margin{
    margin-left: 350px;
}
.dvision-card{
    width: 330px;
    height: 300px;
    background-image: url(./assets/Abstract\ Design\ \(1\).svg);
}